 
    <%- model_class = User -%>
    <div class="well">
      <div id="anim">
       <h1><center>Nuevo <small>Usuario</small></center></h1>
      </div> 
    </div>
<div class="loginn">    
    <%= render :partial => 'form' %>
 </div>    
   