/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Este es el diseño de la ficha tecnica*/
.uno{
  padding: 3px ;
  width: 250px;
  margin: -5px 0px 0px -170px;
}
.dos{
  padding: 3px;
  width: 250px;
  margin: 0px 0px 0px -170px;
}
.tres{
  padding: 3px;
  width: 250px;
  margin: -32px 0px 0px 612px;
}
.cuatro{
  padding: 3px;
  width: 250px;
  margin: 0px 0px 0px -170px;
}
.cinco{
  padding: 3px;
  width: 250px;
  margin: -35px 0px 0px 612px;
}
.seis{
  padding: 3px;
  height: 100px;
  border: solid 1px;
  border-color: black;
  border-radius: 3px;
  width: 525px;
  margin: -102px 0px 0px 85px;
  background-color: ghostwhite;
}
.siete{
  padding: 3px;
  border: solid 1px;
  width: 767px;
  height: 150px;
  border-color: black;
  border-radius: 3px;
}
.ocho{
  padding: 3px;
  width: 250px;
  margin: -98% 0px 0px 598px;
}
@media screen and (max-width:2000px){
  .ocho{
    padding:3px;
    width:250px;
    margin: -99% 0px 0px 612px;
  }
}

@media screen and (max-width:1500px){
  .ocho{
    width:250px;
    margin:-908px 0px 0px 612px;
  }
}
.list-group-item{
  padding: 4px;
  background-color: ghostwhite;
  border-color: black;
}
.nueve{
  margin: 5px 0px 0px 0px;
}
.diez{
  margin: 829px 0px 0px 0px;
}
.once{
  padding: 3px;
  border: solid 1px;
  width: 717px;
  height: 150px;
  border-color: black;
  border-radius: 3px;
}
.imagen{
  border: solid 1px;
  border-radius: 3px;
  border-color: black;
  width: 1030px;
  height: 400px;
  padding: 3px;
  margin: 0.5% 0% 0% -19%;
}


@media screen and (max-width:1000px){
  .prueba{
    margin: 0%;
  }
  
}

@media screen and (min-width:1000px){
   .prueba{
      margin: 0% 0% 0% 18%;
   }
}


/* Esto es el diseño de la hoja de costos*/
.fondo{
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 30px;
}

.productoo{
  border: solid 1px;
  border-color: grey;
  width: 200px;
  height: 24px;
}

.producto{
  margin: -24px 0px 0px 200px;
}

.productoI{
  margin: -24px 0px 0px 200px;
  border: solid 1px;
  border-color: grey;
  height: 24px;
  width: 136px;
}

.lotee{
  border:solid 1px;
  border-color: grey;
  width: 200px;
  height: 24px;
  margin: -24px 0px 0px 300px;
}

.loteee{
  border:solid 1px;
  border-color: grey;
  width: 200px;
  height: 24px;
  margin: -24px 0px 0px 336px;
}

.lote{
  margin: -24px 0px 0px 500px;
}

.loteI{
  margin: -24px 0px 0px 536px;
  border: solid 1px;
  border-color: grey;
  height: 24px;
  width: 120px;
}

.cantt{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.canttt{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.cant{
  margin:-18px 0px 0px 0px;
}

.cantI001{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}
  

.cantI002{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantI003{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantI004{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantI005{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantI006{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantI007{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantI{
  margin: -19px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}
.tamaño{
  width: 100px;
}
.tamaño2{
  width: 258px;
}

.tamañou{
  width: 100px;
  height: 48px;
}

.undI2{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color: grey;
  height: 24px;
  width: 100px;
}

.undd{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -258px 0px 0px 100px;
}

.unddd{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -24px 0px 0px 100px;
}

.und{
  margin: 42px 0px 0px 100px;
}

.undI{
  margin: -192px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}


.und001{
  margin: 0px 0px 0px 100px;
}

.und002{
  margin: 0px 0px 0px 100px;
}

.und003{
  margin: 0px 0px 0px 100px;
}

.und004{
  margin: 0px 0px 0px 100px;
}

.und005{
  margin: 0px 0px 0px 100px;
}

.und006{
  margin: 0px 0px 0px 100px;
}

.und007{
 margin: 0px 0px 0px 100px;  
}

.undI001{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.undI002{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.undI003{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.undI004{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.undI005{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.undI006{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.undI007{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.detallee{
  border:solid 1px;
  border-color: grey;
  width: 258px;
  height: 24px;
  margin: -258px 0px 0px 200px;
}

.detalleee{
  border:solid 1px;
  border-color: grey;
  width: 258px;
  height: 24px;
  margin: -24px 0px 0px 200px;
}

.detalle{
  margin: 42px 0px 0px 200px;
}

.detalleI{
  margin: -192px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px;
}

.detalle001{
  margin: 0px 0px 0px 200px;  
}

.detalle002{
  margin: 0px 0px 0px 200px;
}

.detalle003{
  margin: 0px 0px 0px 200px;
}

.detalle004{
  margin: 0px 0px 0px 200px;
}

.detalle005{
  margin: 0px 0px 0px 200px;
}

.detalle006{
  margin: 0px 0px 0px 200px;
}

.detalle007{
  margin: 0px 0px 0px 200px;
}

.detalleI001{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
} 

.detalleI002{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
} 

.detalleI003{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
} 

.detalleI004{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
} 

.detalleI005{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
} 

.detalleI006{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
}

.detalleI007{
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px; 
}

.vr_unitt{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -258px 0px 0px 456px;
}

.vr_unittt{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -24px 0px 0px 456px;
}

.vr_unit{
  margin: 42px 0px 0px 456px;
}

.vr_unitI{
  margin: -192px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.vr_unit001{
  margin: 0px 0px 0px 456px;
}

.vr_unit002{
  margin: 0px 0px 0px 456px;
}

.vr_unit003{
  margin: 0px 0px 0px 456px;  
}

.vr_unit004{
  margin: 0px 0px 0px 456px;
}

.vr_unit005{
  margin: 0px 0px 0px 456px;
}

.vr_unit006{
  margin: 0px 0px 0px 456px;  
}

.vr_unit007{
  margin: 0px 0px 0px 456px;
}

.vr_unitI001{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_unitI002{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_unitI003{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_unitI004{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_unitI005{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_unitI006{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_unitI007{
  margin: 0px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totall{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -258px 0px 0px 556px;
}

.vr_totalll{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -24px 0px 0px 556px;
}

.vr_total{
  margin: 42px 0px 0px 556px;
}

.vr_totalI{
  margin: -192px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.vr_total001{
  margin: 0px 0px 0px 556px;
}

.vr_total002{
  margin: 0px 0px 0px 556px;
}

.vr_total003{
  margin: 0px 0px 0px 556px;  
}

.vr_total004{
  margin: 0px 0px 0px 556px;
}

.vr_total005{
  margin: 0px 0px 0px 556px;  
}

.vr_total006{
  margin: 0px 0px 0px 556px;  
}

.vr_total007{
  margin: 0px 0px 0px 556px;  
}

.vr_totalI001{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totalI002{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totalI003{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totalI004{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totalI005{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totalI006{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.vr_totalI007{
  margin: 0px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px; 
}

.t_costo_matt{
  border:solid 1px;
  border-color: grey;
  width: 556px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.t_costo_mat{
  margin: -24px 0px 0px 556px;
}

.t_costo_matI{
  margin: -24px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantt2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -18px 0px 0px 0px;
}

.cant2{
  margin: 0px 0px 0px 0px;
}

.cantI2{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.undd2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -216px 0px 0px 100px;
}

.und2{
  margin: 0px 0px 0px 100px;
}

.und2001{
  margin: 0px 0px 0px 100px;
}

.und2002{
  margin: 0px 0px 0px 100px;
}

.und2003{
  margin: 0px 0px 0px 100px;
}

.und2004{
  margin: 0px 0px 0px 100px;
}

.und2005{
  margin: 0px 0px 0px 100px;
}

.und2006{
  margin: 0px 0px 0px 100px;
}

.und2007{
  margin: 0px 0px 0px 100px;
}


.detallee2{
  border:solid 1px;
  border-color: grey;
  width: 258px;
  height: 24px;
  margin: -216px 0px 0px 200px;
}

.detalle2{
  margin:0px 0px 0px 200px;
}

.detalle2001{
  margin: 0px 0px 0px 200px;
}

.detalle2002{
  margin: 0px 0px 0px 200px;
}

.detalle2003{
  margin: 0px 0px 0px 200px;
}

.detalle2004{
  margin: 0px 0px 0px 200px;
}

.detalle2005{
  margin: 0px 0px 0px 200px;
}

.detalle2006{
  margin: 0px 0px 0px 200px;
}

.detalle2007{
  margin: 0px 0px 0px 200px;
}

.detalleI2 {
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:258px;
}

.vr_unitt2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -216px 0px 0px 457px;
}

.vr_unit2{
  margin: 0px 0px 0px 457px;
}

.vr_unit2001{
  margin: 0px 0px 0px 457px;
}

.vr_unit2002{
  margin: 0px 0px 0px 457px;
}

.vr_unit2003{
  margin: 0px 0px 0px 457px;
}

.vr_unit2004{
  margin: 0px 0px 0px 457px;
}

.vr_unit2005{
  margin: 0px 0px 0px 457px;
}

.vr_unit2006{
  margin: 0px 0px 0px 457px;
}

.vr_unit2007{
  margin: 0px 0px 0px 457px;
}

.vr_unitI2{
  margin: 0px 0px 0px 457px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:100px;
}

.vr_totall2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -216px 0px 0px 557px;
}

.vr_total2{
  margin: 0px 0px 0px 557px;
}

.vr_total2001{
  margin: 0px 0px 0px 557px;
}

.vr_total2002{
  margin: 0px 0px 0px 557px;  
}

.vr_total2003{
  margin: 0px 0px 0px 557px;  
}

.vr_total2004{
  margin: 0px 0px 0px 557px;  
}

.vr_total2005{
  margin: 0px 0px 0px 557px;  
} 

.vr_total2006{
  margin: 0px 0px 0px 557px;  
} 

.vr_total2007{
  margin: 0px 0px 0px 557px;  
} 

.vr_totalI2{
  margin: 0px 0px 0px 557px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.t_costo_manoo{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.t_costo_mano{
  margin: -24px 0px 0px 557px;
}

.t_costo_manoI{
  margin: -24px 0px 0px 557px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:100px;
}

.cost_to_prodd{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.cost_to_prod{
  margin: -24px 0px 0px 557px;
}

.cost_to_prodI{
  margin: -24px 0px 0px 557px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:100px;
}

.cost_uni_prodd{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.cost_uni_prod{
  margin: -24px 0px 0px 557px;
}

.cost_uni_prodI{
  margin: -24px 0px 0px 557px;
  border:solid 1px;
  border-color: grey;
  height:24px;
  width:100px;
}


@media screen and (max-width:1000px){
  .fondo{
    padding: 30px;
  }
  
}


@media screen and (min-width:1000px){
   .fondo{
      padding: 5% 15% 5% 15%;
   }
   
}


  
/* Nuevos campos de la hoja de costos*/

.utilidad{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 48px;
  margin: -0px 0px 0px 0px;
}

.utilidadd{
  margin: -48px 0px 0px 100px;
}

.pre_venta{
  border:solid 1px;
  border-color: grey;
  width: 357px;
  height: 48px;
  margin: -48px 0px 0px 200px;
}

.pre_ventaa{
  margin: -48px 0px 0px 557px;
}

.margen{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
}

.margenn{
  margin: -24px 0px 0px 557px;
}

#letra{
  margin: 0px 0px 0px 230px;
}

.utilidadI{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 48px;
  margin: -48px 0px 0px 100px;
}

.pre_ventaI{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 48px;
  margin: -48px 0px 0px 557px;
}

.margenI{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -24px 0px 0px 557px;
}

.linkex{
  z-index:9999999;
  position: relative;
  right: -83%;
}
.linkex a{
  text-decoration:none;
}
.linkex a:hover{
  background-color:transparent;
  color:#073A09;
  font-size:14px;
}

.tbusca{
  position: relative;
  top: -2px;
  margin-bottom: -50px;
}

.especificaciones{
  margin: 2% 0% 2% 22%;
}

.calidad{
  margin: 2% 0% 2% 27%;
}

/* pie de pagina */
footer .blanca{
  text-decoration: none;
  color: white;
}
footer .blanca:hover{
  background:none;
  font-size: 15px;
}

#foo{
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #447C74 url(devoops_pattern_b10.png) 0 0 repeat;
  height: 50px;
  padding: 10px;
  border-top: 1px solid black;
  width: 100%;
  z-index: 999;
  text-align: center;
}

.field{
  margin: -3.5% 0% 0% 25%;
  
}

/* -------------- */


.modal-open #content {z-index: inherit;}
.body-expanded .expanded-panel, .fancybox-margin .expanded-panel, .modal-open .expanded-panel {
  margin-right: 15px;

}

h1, .h1, h2, .h2, h3, .h3 {
  margin:0;
 font-family: Imprint MT Shadow;
}
#log {
  position:relative;
  background: #447C74 url(devoops_pattern_b10.png) 0 0 repeat;
 
}
#log a {
  color: red;
  font-family: Imprint MT Shadow;
  display: block;
  font-size: 25px;
  line-height: 50px;
  background: url(logo.png) right 42px no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#log a:hover {
  background-position: right 2px;
  text-decoration: none;
}
.navbar {
  margin: 0;
  border: 0;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 1px 2px #272727;
  z-index: 2000;
  }

a.show-sidebar {
  float: left;
  color:red;
  outline: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

}
a.show-sidebar:hover {
  color:black;
  background: none;
  text-decoration: none;
}
#sidebar-l {
  position:relative;
  z-index: 12;
  padding-bottom: 3000px !important;
  margin-bottom: -3000px !important;
  background: #EEF5F4 url(devoops_pattern_b10.png) 0 0 repeat;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s
    -webkit-box-shadow: inset -3px 0px 5px -1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset -3px 0px 5px -1px rgba(50, 50, 50, 0.75);
    box-shadow:         inset -3px 0px 5px -1px rgba(50, 50, 50, 0.75); 
}
#content {
  z-index: 10;
  background: #ebebeb;
  box-shadow: 0 0 6px #131313;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

 
}
.full-content {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.nav.main-menu, .nav.msg-menu {
  margin:0 -15px;
}
.nav.main-menu > li > a, .nav.msg-menu > li > a {
  text-align: center;
  color:black;
  min-height: 60px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background:rgba(0, 0, 0, 0.1);
}
.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a,
.nav.msg-menu > li > a:hover, .nav.msg-menu > li > a:focus, .nav.msg-menu > li.active > a, .nav.msg-menu .open > a, .nav.msg-menu .open > a:hover, .nav.msg-menu .open > a:focus {
  background:rgba(0, 0, 0, 0.1);
  color:#f0f0f0;
}
.nav.main-menu a.active, .nav.msg-menu a.active {
  background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active:hover, .nav.msg-menu a.active:hover {
  background:rgba(0, 0, 0, 0.2);
}
.nav.main-menu a.active-parent, .nav.msg-menu a.active-parent {
  background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu a.active-parent:hover, .nav.msg-menu a.active-parent:hover {
  background: rgba(0, 0, 0, 0.3);
}
.nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
  font-size: 18px;
  width: auto;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.main-menu .dropdown-menu {
  position: absolute;
  z-index: 2001;
  left: 100%;
  top: 0;
  float: none;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  background: #447C74 url(devoops_pattern_b10.png) 0 0 repeat;
  box-shadow: none;
  visibility:hidden;
}
.main-menu .active-parent:hover + .dropdown-menu {
  visibility:visible;
}
.main-menu .active-parent + .dropdown-menu:hover {
  visibility:visible;
}
.main-menu .dropdown-menu > li > a {
  padding:9px 15px 9px 40px;
  color:#f0f0f0;
}
.main-menu .dropdown-menu > li:first-child > a {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.main-menu .dropdown-menu > li:last-child > a {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
#top-panel {
  line-height: 50px;
  height: 50px;
  background: #447C74 url(devoops_pattern_b10.png) 0 0 repeat;
  color: white;
}
#main {
  margin-top: 50px;
  min-height: 1450px;
  overflow: hidden;
  height: 900px;
}
.panel-menu {
  margin: 0;

}
.top-panel-right {
  padding-left: 0;
 position: fixed;
 top: 0px;
 right: 10px;
 width: 190px;
}
.panel-menu > li > a {
  padding: 0 5px 0 10px;
  line-height: 50px;
}
.panel-menu > li > a:hover {
  background: none;
}
.panel-menu a.account {
  height: 50px;
  padding: 5px 0 5px 10px;
  line-height: 18px;
}
.panel-menu i {
  margin-top: 8px;
  padding: 5px;
  font-size: 20px;
  color: #7BC5D3;
  line-height: 1em;
  vertical-align: top;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.panel-menu > li > a:hover > i {
  background: #f5f5f5;
}
.panel-menu i.pull-right {
  color: #000;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  background: none !important;
}
.panel-menu .badge {
  margin-top: 3px;
  padding: 3px 6px;
  vertical-align: top;
  background: #CEA9A9;
}
.avatar {
  width: 40px;
  float: left;
  margin-right: 5px;
}
.avatar > img {
  width:40px;
  height:40px;
  border: 1px solid #F8F8F8;
}
.user-mini > span {
  display: block;
  font-size: 12px;
  color:#363636;
  margin-bottom: -4px;
}
.user-mini > span.welcome {
  font-weight: bold;
  margin-top: 2px;
}
.panel-menu .dropdown-menu {
  position: absolute !important;
  background-color: #447C74;
  padding: 0;
  border: 0;
  right: 0;
  left: auto;
  min-width: 100%;
}
.panel-menu .dropdown-menu > li > a {
  padding:5px 10px !important;
  color:#f0f0f0;
}
.panel-menu .dropdown-menu > li > a > i {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

}
.box {
  display: block;
  z-index: 1999;
  position: relative;
  border: 1px solid #f8f8f8;
  box-shadow: 0 0 4px #D8D8D8;
  background: transparent;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.full-content .box {
  border: 0;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.no-move {
  display: none;
}
.expanded .no-move {
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 1;
  display: block;
}

.expanded a.close-link {
  display:none;
}
#sidebar-l.col-xs-2 {
  opacity: 0;
  width: 0%;
  padding: 0;
}
.sidebar-show #sidebar-l.col-xs-2 {
  opacity: 1;
  width: 16.666666666666664%;
  padding: 0 15px;
    -webkit-box-shadow: inset -3px 0px 5px -1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    inset -3px 0px 5px -1px rgba(50, 50, 50, 0.75);
box-shadow:         inset -3px 0px 5px -1px rgba(50, 50, 50, 0.75);
}
.sidebar-show #content.col-xs-12 {
  opacity: 1;
  width: 83.33333333333334%;
}
.expanded {
  overflow-y:scroll;
  border: 0;
  z-index: 3000 !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.expanded-padding {
  background: rgba(0, 0, 0, 0.7);
  padding:50px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.no-padding {
  padding:0 !important;
}
.padding-15 {
  padding:15px !important;
}
.no-padding .table-bordered {
  border:0;
  margin:0;
}
.no-padding .table-bordered thead tr th:first-child, .no-padding .table-bordered tbody tr th:first-child, .no-padding .table-bordered tfoot tr th:first-child, .no-padding .table-bordered thead tr td:first-child, .no-padding .table-bordered tbody tr td:first-child, .no-padding .table-bordered tfoot tr td:first-child {
  border-left: 0px !important;
}
.no-padding .table-bordered thead tr th:last-child, .no-padding .table-bordered tbody tr th:last-child, .no-padding .table-bordered tfoot tr th:last-child, .no-padding .table-bordered thead tr td:last-child, .no-padding .table-bordered tbody tr td:last-child, .no-padding .table-bordered tfoot tr td:last-child {
  border-right: 0px !important;
}
.table-heading thead tr {
  background-color: #F6BC9A;
  background-image: -webkit-linear-gradient(top, #F6BC9A, #fff);
  background-image:    -moz-linear-gradient(top, #F6BC9A, #fff);
  background-image:     -ms-linear-gradient(top, #F6BC9A, #fff);
  background-image:      -o-linear-gradient(top, #F6BC9A, #fff);
  background-image:         linear-gradient(to bottom, #F6BC9A, #fff);
}
table.no-border-bottom tr:last-child td {
  border-bottom:0;
}
.dataTables_wrapper {
  overflow: hidden;
}
.dataTables_wrapper table.table {
  clear: both;
  max-width: inherit;
  margin-bottom: 0;
}
.table-datatable *, .table-datatable :after, .table-datatable :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.table-datatable label {
  position: relative;
  display: block;
  font-weight: 400;
}
.table-datatable tbody td {
  vertical-align: middle !important;
}
.table-datatable img {
  margin-right: 10px;
  border: 1px solid #F8F8F8;
  width: 40px;
}
.table-datatable .sorting {
  background:url(sort.png) right center no-repeat;
  padding-right:16px;
  cursor:pointer;
}
.table-datatable .sorting_asc {
  background:url(sort-asc.png) right center no-repeat;
  padding-right: 16px;
  cursor:pointer;
}
.table-datatable .sorting_desc {
  background:url(sort-desc.png) right center no-repeat;
  padding-right: 16px;
  cursor:pointer;
}
div.DTTT_collection_background {
  z-index: 2002;
}
ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  min-width: 157px;
}
ul.DTTT_dropdown.dropdown-menu li {
  position: relative;
}
ul.DTTT_dropdown.dropdown-menu > li > a {
  position: relative;
  display: block;
  padding: 5px 10px !important;
  color: #f0f0f0 !important;
}
ul.DTTT_dropdown.dropdown-menu > li:first-child > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
ul.DTTT_dropdown.dropdown-menu > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
ul.DTTT_dropdown.dropdown-menu > li:hover > a {
  background:rgba(0, 0, 0, 0.3);
  color:#f0f0f0;
}
.dataTables_wrapper input[type="text"] {
  display: block;
  width: 90%;
  height: 26px;
  padding: 2px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-appearance: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.dataTables_wrapper input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#breadcrumb {
  padding: 0;
  line-height: 40px;
  background: #525252;
  background: #fc7323 url(devoops_pattern_b10.png) 0 0 repeat;
  margin-bottom: 20px;
}
.breadcrumb {
  padding: 0 15px;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
}
.breadcrumb > li > a {
  color:#d8d8d8;
}
.breadcrumb > li > a:hover, .breadcrumb > li:last-child > a {
  color:#f8f8f8;
}
.bs-callout {
  padding: 15px;
  border-left: 3px solid #525252;
  background: #dfdfdf;
}

.no-padding .bs-callout {
  border:0;
}
.page-header {
  margin: 0 0 10px;
  border-bottom: 1px solid #c7c7c7;
}
.box-content .page-header, legend, .full-calendar .page-header {
  margin: 0 0 10px;
  border-bottom: 1px dashed #B6B6B6;
}
.invoice-header {
  margin: 0 0 10px;
  border-bottom: 1px dashed #B6B6B6;
  display: inline-block;
}
.box-content .form-group, .devoops-modal-inner .form-group {
  margin-top:15px;
  margin-bottom:15px;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #525252;
  background-color: rgba(129, 199, 199, 0.2);
  border: 1px solid #ebebeb;
}
.show-grid [class^="col-"]:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(107, 134, 182, 0.2);
  border: 1px solid #ebebeb;
}
.show-grid, .show-grid-forms {
  margin-bottom: 15px;
}
.show-grid-forms [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
td.beauty-hover {
  background-color: rgba(219, 219, 219, 0.3) !important;
}
.table-hover > tbody > tr:hover > td.beauty-hover:hover {
  background-color: rgba(219, 219, 219, 0.9) !important;
}

.well pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}


#equalizer .progress {
  height:160px;
  display:inline-block;
  margin:15px;
}
.beauty-table {
  width:100%;
  border-collapse:separate;
  border-spacing:0;
}
.beauty-table input {
  border:1px solid transparent;
  background: none;
  font-size: 16px;
  text-align: center;
  padding:2px 15px !important;
  width:100%;
  outline:none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.beauty-table input:focus {
  border:1px solid #dfdfdf;
  background: #fefefe;
  font-size: 16px;
  text-align: center;
  padding: 2px 15px !important;
  width:100%;
  outline:none;
}
.c {
  color: #999;
  display: block;
}
.nt {
  color: #2f6f9f;
}
.na {
  color: #4f9fcf;
}
.s {
  color: #d44950;
}
.radio, .checkbox, .radio-inline, .checkbox-inline {
  position: relative;
}
.radio label, .checkbox label, .radio-inline label, .checkbox-inline label {
  font-weight: normal;
  cursor: pointer;
  padding-left: 8px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.radio + .radio, .checkbox + .checkbox {
  margin-top: 10px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.checkbox i, .checkbox-inline i, .radio i, .radio-inline i {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.checkbox i.small, .checkbox-inline i.small, .radio i.small, .radio-inline i.small {
  font-size: 18px;
  top:2px;
}
.checkbox input[type=checkbox]:checked + i:before, .checkbox-inline input[type=checkbox]:checked + i:before {
  content:"\f046";
}
.radio input[type=radio]:checked + i:before, .radio-inline input[type=radio]:checked + i:before {
  content:"\f192";
}
.toggle-switch {
  position: relative;
  width: 60px;
}
.toggle-switch input {
  display: none;
}
.toggle-switch label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.toggle-switch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner:before, .toggle-switch-inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  text-shadow: 1px 1px 1px #FFFFFF;
  color:#929292;
  background-color: #F5F5F5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.toggle-switch-inner:before {
  content: "ON";
  padding-left: 15px;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.toggle-switch-inner:after {
  content: "OFF";
  padding-right: 15px;
  text-align: right;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
.toggle-switch-switch {
  width: 20px;
  margin: 0;
  border: 2px solid #d8d8d8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  color: #f8f8f8;
  line-height: 1em;
  text-shadow: 0 0px 1px #ADADAD;
  text-align: center;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image:    -moz-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image:     -ms-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image:      -o-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image:         linear-gradient(to bottom, #f0f0f0, #dfdfdf);
}
.toggle-switch input:checked + .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch input:checked + .toggle-switch-inner + .toggle-switch-switch {
  right: 0px; 
}
.toggle-switch-danger input:checked + .toggle-switch-inner + .toggle-switch-switch {
  border:2px solid #D15E5E;
  background: #D15E5E;
}
.toggle-switch-warning input:checked + .toggle-switch-inner + .toggle-switch-switch {
  border:2px solid #DFD271;
  background: #DFD271;
}
.toggle-switch-info input:checked + .toggle-switch-inner + .toggle-switch-switch {
  border:2px solid #7BC5D3;
  background: #7BC5D3;
}
.toggle-switch-success input:checked + .toggle-switch-inner + .toggle-switch-switch {
  border:2px solid #63CC9E;
  background: #63CC9E;
}
.toggle-switch-primary input:checked + .toggle-switch-inner + .toggle-switch-switch {
  border:2px solid #6AA6D6;
  background: #6AA6D6;
}
#messages #breadcrumb {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
#messages-menu {
  position:fixed;
  top:90px;
  background:#a5a5a5;
  margin:0;
  height: 100%;
  z-index: 2;
}
#messages-list {
  margin-top: 40px;
  padding: 0;
}
.one-list-message {
  background: #F1F1F1;
  border-bottom: 1px solid #CCC;
  padding: 15px 15px 15px 25px;
  margin: 0;
}
.one-list-message .checkbox {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.one-list-message .message-title {
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}
.one-list-message .message-date {
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 10px;
  font-weight: bold;
  background: #D8D8D8;
  padding: 0;
  width: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #000;
}
.form-control {
  height: 26px;
  padding: 2px 12px;
}
.input-lg {
  height:39px;
}
.input-sm {
  height:18px;
}
.bg-default {
  background: #D8D8D8 !important;
}
.bg-primary {
  background: #6AA6D6 !important;
  color:#f8f8f8 !important;
}
.bg-success {
  background: #63CC9E !important;
  color:#f8f8f8 !important;
}
.bg-info {
  background: #7BC5D3 !important;
  color:#f8f8f8 !important;
}
.bg-warning {
  background: #DFD271 !important;
  color:#f8f8f8 !important;
}
.bg-danger {
  background: #D15E5E !important;
  color:#f8f8f8 !important;
}
.txt-default {
  color: #D8D8D8 !important;
}
.txt-primary {
  color: #6AA6D6 !important;
}
.txt-success, .has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #63CC9E !important;
}
.txt-info {
  color: #7BC5D3 !important;
}
.txt-warning, .has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #DFD271 !important;
}
.txt-danger, .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #D15E5E !important;
}
.has-success .form-control {
  border-color:#63CC9E;
}
.has-warning .form-control {
  border-color:#DFD271;
}
.has-error .form-control {
  border-color:#D15E5E;
}
.has-success .form-control:focus {
  border-color: #63CC9E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #63CC9E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #63CC9E;
}
.has-warning .form-control:focus {
  border-color: #DFD271;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #DFD271;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #DFD271;
}
.has-error .form-control:focus {
  border-color: #D15E5E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #D15E5E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #D15E5E;
}

.has-feedback .form-control-feedback {
  width: 26px;
  height: 26px;
  line-height: 26px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  min-height: inherit;
  padding-top: 0;
}
.form-horizontal .control-label {
  padding-top: 4px;
}
.input-group-addon {
  padding: 0px 6px;
}
.form-group .form-control, .form-group .input-group {
  margin-bottom: 5px;
}
.input-group .form-control {
  margin:0;
}

#dashboard-header {
  margin-bottom:20px;
}
#dashboard_links {
  padding: 0;
}
#dashboard_links .nav {
  background:#447C74 url(devoops_pattern_b10.png) 0 0 repeat;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
#dashboard_links .nav-stacked > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 0;
  margin: 0;
}
#dashboard_links .nav-pills > li > a {
  color: #f8f8f8;
  display: block;
  padding: 20px 10px 20px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline:none;
}
#dashboard_links .nav-pills > li.active {
  border-top-color: rgba(0, 0, 0, 0.11);
  position: relative;
  margin: 0;
}
#dashboard_links .nav-pills > li.active > a, #dashboard_links .nav-pills > li.active > a:hover, #dashboard_links .nav-pills > li.active > a:focus, #dashboard_links .nav > li > a:hover, #dashboard_links .nav > li > a:focus {
  background:rgba(0, 0, 0, 0.1);
}
#dashboard_links .nav-pills > li.active > a:before {
  font-family: FontAwesome;
  content: "\f0da";
  position: absolute;
  left: -2px;
  font-size: 30px;
  color: #f8f8f8;
}
#dashboard_tabs {
  background:#f8f8f8;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#dashboard-overview {
  padding-bottom:15px;
}

.btn + .dropdown-menu {
  margin-top: -10px;
  background: rgba(0, 0, 0, 0.7) !important; padding: 0; border: 0; 
  right: 0; 
  left: auto; 
  min-width: 100%;
}
.btn + .dropdown-menu > li > a {
  padding: 5px 10px !important;
  color: #f0f0f0;
}
.v-txt {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  top: 60px;
  left: -20px;
  color: #d8d8d8;
  font-size: 18px;
  box-shadow: 0 0 10px #d8d8d8;
  padding: 0px 5px;
}

.page-feed .avatar {
  width: 60px;
  float: left;
  margin: 10px 15px;
  text-align: center;
  overflow: hidden;
}
.page-feed .avatar img {
  width: 60px;
  height: 60px;
  border: 1px solid #F8F8F8;
}
.page-feed-content {
  position: relative;
  padding: 3px 15px 5px;
  background: #FCFCFC;
  margin-left:90px;
  min-height: 80px;
}
.page-feed-content small.time {
  font-style: italic;
}
.page-feed .page-feed-content:before {
  font-family: FontAwesome;
  content: "\f0d9";
  position: absolute;
  left: -10px;
  top: 15px;
  font-size: 30px;
  color: #fcfcfc;
}


@media (min-width: 768px) {
  #sidebar-l.col-sm-2 {
    opacity: 1;
    width: 16.666666666666664%;
    padding: 0 15px;
  }
  .sidebar-show #sidebar-l.col-sm-2 {
    opacity: 0;
    width:0;
    padding:0;
  }
  .sidebar-show #content.col-sm-10 {
    opacity: 1;
    width:100%;
  }
  .page-404 .form-inline {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .nav.main-menu > li > a, .nav.msg-menu > li > a {
    text-align: left;
  }
  .nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
    font-size:14px;
    width: 20px;
    display: inline-block;
  }
  .main-menu .dropdown-menu {
    position: relative;
    z-index: inherit;
    left:0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
  .main-menu .dropdown-menu > li > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .page-404 .form-inline {
    width: 40%;
  }
}
@media (max-width: 767px) {
  #main {
    margin-top: 100px;
  }
  #messages-menu {
    top:140px;
  }
  .page-404 .form-inline {
    width: 100%;
  }
  #dashboard_links .nav {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  #dashboard_links .nav-stacked > li {
    float:left;
  }
  #dashboard_links .nav-pills > li > a {
    padding:15px;
  }
  #dashboard_links .nav-pills > li.active > a:before {
    bottom: 0;
    left: 50%;
    margin-left: -9px;
  }
}
@media (max-width: 620px) {
  .user-mini {
    display: none;
  }
}

@media (max-width: 1600px){
    .item active{
      right: 1000%;
    }
   
}
@media (max-width: 400px) {
  .panel-menu a.account {
    padding: 5px 0px 5px 0;
  }
  .avatar {
    margin: 0;
  }
  .panel-menu i.pull-right {
    margin-left: 0;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
  }
  #dashboard_links .nav-stacked > li {
    float:none;
  }
  #dashboard_links .nav-pills > li.active > a:before {
    display: none;
  }
  
}
.ban{
  position: absolute;
  top: 50px;
  left: -50px;
  height: 50px;
  width: 800px;
  margin-left: 90px;
  z-index: 9999999;
}
.bami{
  height: 49px;

}
.bano{
  
  position: relative;
  top: -50px;

}
.der{
  margin-left: 750px;
  position: relative;
  top: -85px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.izq{
  margin-left: 10px;
  position: relative;
  top: -85px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.der:hover, .izq:hover{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 16px;
}

.ver{
  background: #447C74 url(devoops_pattern_b10.png) 0 0 repeat;
-webkit-box-shadow: inset -1px -1px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    inset -1px -1px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         inset -1px -1px 5px 0px rgba(50, 50, 50, 1);
}
.nar{
-webkit-box-shadow: inset 0px -1px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    inset 0px -1px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         inset 0px -1px 5px 0px rgba(50, 50, 50, 1);
}
.cerr{
  font-size: 20px;
  position: relative;
  left: 180px;
  top: 65px;

}
.cerr i{
  color: white;
}
.abr{
  font-size: 20px;
  position: fixed;
  bottom: 145px;
  left: 20px;
  z-index: 11;
}
.p1{
  font-size: 12px;
  color: white;
  position: relative;
  left: -40px;
  display: none;
 
 }
.cerr:hover .p1{

  display: block;
  text-decoration: none;
}
.p2{
  font-size: 12px;
  color: #525252;
  position: relative;
  left: 0px;
  display: none;
 }


.contenido{
  padding: 10px 10px;
}
.con{
-webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
-moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
border: 2px solid #fc7323;
  height: 530px;
  overflow-y:none;
  overflow-x:scroll; 
  padding: 0px;
  
}
.con table thead tr td{
   -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 0px 1px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.bn{
  margin-left: -17px;
}
.ico{
  color: white;
}
.neg{
  color: black;
}
.peque{
  border: 2px solid #fc7323;
  width: 800px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
-moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
border-radius: 5px;
height: 500px;
  overflow-y:scroll;
  overflow-x:none;
}
.media{
  border: 2px solid #fc7323;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
-moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
border-radius: 5px;
height: 350px;
  overflow-y:scroll;
  overflow-x:none;
}
.cen{
  text-align: center;
}

.pulse{

  animation-name: pulse;
  -webkit-animation-name: pulse;  

  animation-duration: 3s; 
  -webkit-animation-duration: 3s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
    color: #fcfcfc;   
  }
  50% {
    transform: scale(1);
    opacity: 1; 
    color: #fc7323;
  } 
  100% {
    transform: scale(1);
    opacity: 0.7; 
    color: #fcfcfc;
  }     
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.7;
    color: #fcfcfc;  
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; 
    color: #fc7323
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 0.7; 
    color: #fcfcfc; 
  }     
}
.conim{
  border: 2px solid #fc7323;
  padding: 10px;
  width: auto;
  height: 460px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
-moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
overflow-y: scroll;
overflow-x: none; 
}
.conim2{
  border: 2px solid #fc7323;
  padding: 10px;
  width: auto;
  height: 410px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
-moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
}
.conit{
     -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}
.coni{
  width: 300px;
  height: 240px;
  display: inline-block;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
overflow-x: none;
overflow-y: scroll; 
}
.coni2{
  width: 480px;
  display: inline-block;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}


.hr1{
  margin-top: -10px;
  margin-bottom: 1px;
  color: black;
}

.list-inline li span:hover{
  color: black;
  background-color: white;
}

.cim{
  position: absolute;
  top: -10px;
  left: 300px;
 
}
#jcl-demo .carousel {
  border-radius: 10px;
  /* Needed for rendering without flicker */
  position: fixed;
  visibility: hidden;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
#jcl-demo .carousel>ul>li>img {
  width: 100px;
  height: 50px;
  vertical-align:middle;
  /* optional */
  margin: 10px 10px 10px 0;
  border-radius: 5px;
}
.meni{
  position: relative;
  top: 12px;
  left: -51px;
  font-size: 30px;
  font-weight: normal;
}
.pagi{
  position: relative;
  left: 350px;
  top: -15px;
  margin-bottom: -35px;
  width: 300px;
}
.gran{
  font-size: 12px;
}
.conta{
  position: relative;
  top: -15px;
  left: -400px;
  width: 100px;
}
.convi{
  height: 30px;
}
.conpa{
  position: relative;
  left: 350px;
  top: -30px;
  width: 300px;
}
.conta2{
  position: relative;
  left: -350px;
  top: -65px;
  width: 100px;
}
.convi2{
  height: 70px;
}
.form1{
  display: inline-block;
  text-align: center;
  padding: 10px;
}
.form2{
  border-left: 1px dashed black;
  display: inline-block;
  text-align: center;
  padding: 10px;
}
/* lazybox */
#lazybox.confirm {
border-radius: 5;
font-weight: bold;
background: linear-gradient(#e2e2e2, white);
}
#lazybox.sticker {
border-bottom-left-radius: 20px;
border-bottom-right-radius: 50px 100px;
border-top-left-radius: 100px 50px;}
#lazybox{
text-align: center;
background: url(ba.png) -100px -250px;
background-size: auto;
background-repeat: no-repeat;
}
#lazybox.lazybox {
padding: 0;
border: 0;
width: 45%;
box-shadow: none;
}
.conarti{
  height: 400px;
  overflow-y: scroll;
  overflow-x: none; 
}
.registro{
  position: relative;
  top: -450px;
  width: 600px;
  height: 400px;
}
.ocultar{
  display: none;
}
.consof{
  overflow-y:scroll;
  overflow-x:none;
  height: 550px;
  text-align: center;
}
.divsof{
   border: 2px solid #fc7323;
  width: 350px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
-moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
border-radius: 5px;
height: 200px;
  overflow-y:scroll;
  overflow-x:none;
  
}
.divsofg{
   border: 2px solid #fc7323;
  width: 500px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
  -moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
  box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
  border-radius: 5px;
  height: 200px;
  overflow-y:scroll;
  overflow-x:none;
  
}
.separa{
  width: 350px;
  display: inline-block;
  height: 200px;
  margin: 20px;
}
.separag{
  width: 500px;
  display: inline-block;
  height: 200px;
  margin: 20px;
}
.infor{
  position: absolute;
  right: 50px;
  margin-top: 35px; 
 
}
.merror{
  position: fixed;
  left: 210px;
  top: 50px;
}

.impodiv{
  border: 2px solid #fc7323;
  width: auto;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(226, 146, 102, 1);
  -moz-box-shadow:    0px 0px 13px 3px rgba(226, 146, 102, 1);
  box-shadow:         0px 0px 13px 3px rgba(226, 146, 102, 1);
  border-radius: 5px;
  height: 500px;
  overflow-y:scroll;
  overflow-x:none;
  padding: 5px;
}
.impobo{
  position: relative;
  left: 300px;
}
.infodiv{
  width: 300px;
}
.divpe{
  height:200px;
}
.infoar{
  font-size:11px;
}
.infoesa{
  margin-bottom:-8px;
}

.container{
  margin: -90% 0% 0% 17%;
  width: 84%;
}

@media screen and (min-width:1500px){
  .container{
    margin: -108% 0% 0% 17%;
  }
}
@media screen and (max-width:2000px){
  .container{
    padding:2%;
    margin: -103% 0% 0% 17%;
  }
}
.pie{
  margin: 0% 0% 0% -4%;
}

.baner{
  width: 100%;
  height: 30%;
}
/* LOGIN*/
.login{
background-image:url(Esferas.jpg);
background-repeat: no-repeat;
margin:730px 0px 0px 550px;
padding: 40px;
border-radius: 20px ;
width: 350px;
height:500px;
background-size: 300%;
position:relative;
z-index:1;
}

@media screen and (max-width:1500px){
 .login{
   margin: 755px 0px 0px 550px;
 } 
}

.logo3{
  border-radius: 7px;
  margin: 0px 0px 0px -40px;
  width: 350px;
  padding: 20px;
}

.logo2{
 width:10%;
 height:10%;
 border-radius: 5px;
}

@media screen and (max-width:1500px){
   
 .logo2{
   width:15%;
 }
}

email{
  height: 20px;
}

/*Botones desplegables */


/*Caja contenedora*/   
/* #wrap { font-size: 1.8em; width: 100px; padding: 3px;
        margin: 0 auto; /*Da lugar al centrado de la caja en el elemento superior body*/
      /*  background-color: red;} */

/* Estilos que crean el menú desplegable */
/*Eliminamos padding y margin que introducen navegadores por defecto en listas*/
#navbar { padding:0; margin:0; }

/*Elementos items principales de menú que se muestran siempre*/
#navbar li { list-style: none; float: left; margin:10px;}
   
#navbar li a {
   display: block; /* Usamos display block para poder aplicar propiedades de caja a links */
   padding: 3px 8px; background-color: #f0f8ff; color:black; opacity:0.7;
   text-decoration: none; }

/*Listas de subitems de menú*/   
#navbar li ul {
  border-radius:5px;
   display: none; /*La lista inicialmente no se muestra debido a display:none; */
   background-color:black; opacity:1; z-index:100;}
   
#navbar li:hover ul {
   font-size: 12px;
   display: block; /*Al situar el cursor sobre el item la lista de subitems pasa de display none a display block y se muestra*/
   position: absolute; /*Al desplegarse el submenú no ocupa espacio y no desplaza a otros elementos gracias a que establecemos position absolute*/
   margin: 0; padding: 0; /*Anulamos margin y padding que por defecto introducen navegadores*/
   }
#navbar li:hover li { float: none; } /*Anulamos el float left que define el elemento padre para que los subitems se muestren en vertical */
   
/*Creamos la apariencia de los subitems de menú, color de fondo, borde inferior, color de texto*/
#navbar li:hover li a { background-color: black; border-bottom: 1px solid #fff; color:white; border-radius: 3px ; width:80px;}

/*Creamos el efecto de cambio de color y aspecto cuando ponemos el puntero del ratón sobre un subitem de menú*/   
#navbar li li a:hover { background-color:silver; }
   
/*.limpiador{padding:0; border-style:none; clear:both; }*/ /*Forzamos a la caja a mostrarse aún conteniendo elementos flotantes*/

h5{
  margin: 1.5% 0% 0% 73%;
}