/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Este es el diseño de la ficha tecnica*/
.uno{
  padding: 3px ;
  width: 150px;
  margin: -5px 0px 0px 0px;
}
.dos{
  padding: 3px;
  width: 150px;
}
.tres{
  padding: 3px;
  width: 150px;
  margin: -35px 0px 0px 568px;
}
.cuatro{
  padding: 3px;
  width: 150px;
  
}
.cinco{
  padding: 3px;
  width: 150px;
  margin: -35px 0px 0px 568px;
}
.seis{
  padding: 3px;
  height: 100px;
  border: solid 1px;
  border-color: black;
  border-radius: 3px;
  width: 420px;
  margin: -102px 0px 0px 149px;
  background-color: ghostwhite;
}
.siete{
  padding: 3px;
  border: solid 1px;
  width: 717px;
  height: 150px;
  border-color: black;
  border-radius: 3px;
}
.ocho{
  padding: 3px;
  width: 150px;
  margin: -690px 0px 0px 568px;
}
.list-group-item{
  padding: 4px;
  background-color: ghostwhite;
  border-color: black;
}
.nueve{
  margin: 5px 0px 0px 0px;
}
.diez{
  margin: 655px 0px 0px 0px;
}
.imagen{
  border: solid 1px;
  border-radius: 3px;
  border-color: black;
  width: 714px;
  height: 400px;
  padding: 3px;
  margin: 1px;
}


@media screen and (max-width:1000px){
  .prueba{
    margin: 0%;
  }
}

@media screen and (min-width:1000px){
   .prueba{
      margin: 0% 0% 0% 18%;
   }
}

/* Esto es el diseño de la hoja de costos*/
.fondo{
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 30px;
}

.productoo{
  border: solid 1px;
  border-color: grey;
  width: 200px;
  height: 24px;
}

.producto{
  margin: -24px 0px 0px 200px;
}

.productoI{
  margin: -24px 0px 0px 200px;
  border: solid 1px;
  border-color: grey;
  height: 24px;
  width: 136px;
}

.lotee{
  border:solid 1px;
  border-color: grey;
  width: 200px;
  height: 24px;
  margin: -24px 0px 0px 300px;
}

.loteee{
  border:solid 1px;
  border-color: grey;
  width: 200px;
  height: 24px;
  margin: -24px 0px 0px 336px;
}

.lote{
  margin: -24px 0px 0px 500px;
}

.loteI{
  margin: -24px 0px 0px 536px;
  border: solid 1px;
  border-color: grey;
  height: 24px;
  width: 120px;
}

.cantt{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.cant{
  margin:-18px 0px 0px 0px;
}

.cantI{
  margin: -18px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}
.tamaño{
  width: 100px;
}
.tamaño2{
  width: 258px;
}

.undd{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -90px 0px 0px 100px;
}

.und{
  margin: 42px 0px 0px 100px;
}

.undI{
  margin: 42px 0px 0px 100px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.detallee{
  border:solid 1px;
  border-color: grey;
  width: 258px;
  height: 24px;
  margin: -90px 0px 0px 200px;
}

.detalle{
  margin: 42px 0px 0px 200px;
}

.detalleI{
  margin: 42px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 258px;
}

.vr_unitt{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -90px 0px 0px 456px;
}

.vr_unit{
  margin: 42px 0px 0px 456px;
}

.vr_unitI{
  margin: 42px 0px 0px 456px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.vr_totall{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -90px 0px 0px 556px;
}

.vr_total{
  margin: 42px 0px 0px 556px;
}

.vr_totalI{
  margin: 42px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.t_costo_matt{
  border:solid 1px;
  border-color: grey;
  width: 556px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.t_costo_mat{
  margin: -24px 0px 0px 556px;
}

.t_costo_matI{
  margin: -24px 0px 0px 556px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.cantt2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -18px 0px 0px 0px;
}

.cant2{
  margin: 0px 0px 0px 0px;
}

.cantI2{
  margin: 0px 0px 0px 0px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.undd2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -48px 0px 0px 100px;
}

.und2{
  margin: 0px 0px 0px 100px;
}

.undI2{
  margin: 0px 0px 0px 100px;
  border:solid 1px;
  border-color: grey;
  height: 24px;
  width: 100px;
}

.detallee2{
  border:solid 1px;
  border-color: grey;
  width: 258px;
  height: 24px;
  margin: -48px 0px 0px 200px;
}

.detalle2{
  margin:0px 0px 0px 200px;
}

.detalleI2 {
  margin: 0px 0px 0px 200px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:258px;
}

.vr_unitt2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -48px 0px 0px 457px;
}

.vr_unit2{
  margin: 0px 0px 0px 457px;
}

.vr_unitI2{
  margin: 0px 0px 0px 457px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:100px;
}

.vr_totall2{
  border:solid 1px;
  border-color: grey;
  width: 100px;
  height: 24px;
  margin: -48px 0px 0px 557px;
}

.vr_total2{
  margin: 0px 0px 0px 557px;
}

.vr_totalI2{
  margin: 0px 0px 0px 557px;
  border:solid 1px;
  border-color:grey;
  height: 24px;
  width: 100px;
}

.t_costo_manoo{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.t_costo_mano{
  margin: -24px 0px 0px 557px;
}

.t_costo_manoI{
  margin: -24px 0px 0px 557px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:100px;
}

.cost_to_prodd{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.cost_to_prod{
  margin: -24px 0px 0px 557px;
}

.cost_to_prodI{
  margin: -24px 0px 0px 557px;
  border:solid 1px;
  border-color:grey;
  height:24px;
  width:100px;
}

.cost_uni_prodd{
  border:solid 1px;
  border-color: grey;
  width: 557px;
  height: 24px;
  margin: 1px 0px 0px 0px;
}

.cost_uni_prod{
  margin: -24px 0px 0px 557px;
}

.cost_uni_prodI{
  margin: -24px 0px 0px 557px;
  border:solid 1px;
  border-color: grey;
  height:24px;
  width:100px;
}


@media screen and (max-width:1000px){
  .fondo{
    padding: 30px;
  }
}

@media screen and (min-width:1000px){
   .fondo{
      padding: 5% 15% 5% 15%;
   }
}

