<div class="login">
    <%= image_tag "bienvenido.jpeg",class: 'logo3'%>
    _________________________________<br>
    <br>
    <div class="login2">
         <%= render 'form' %>
    </div>
   
</div>