<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
   <Style ss:ID="head">
      
      <Font ss:FontName="Calibri" ss:Size="13" ss:Bold="1" ss:Border="1"/>
      <Borders>
	    	<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
	 		</Borders>
    </Style>
    <Style ss:ID="body">
      <Borders>
	    	<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
	 		</Borders>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      
      <Row>
        <Cell ss:StyleID="head"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Sam</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Descripcion</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Maquina</Data></Cell>
      </Row>
    <% @operations.each do |operation| %>
      <Row>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= operation.nombre %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= operation.sam %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= operation.descripcion %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= operation.maquina.nombre %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>